/* Defaults */

:root {
	--font-family: font-family: "Alegreya Sans", sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--color-sand-1: #ab946b;
	--color-sand-2: #baa684;
	--color-sand-3: #897869;
	--color-sand-4: #b6aea6;
	--color-sand-5: #9a8c7a;

	--background-color: #fff;

	--text-color: var(--color-sand-3);
	/* --text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F; */

	--text-color-link: #356e6f;
	--text-color-link-active: #2f5156;
	--text-color-link-visited: #2f5156;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {

		
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #686767;
		--text-color: var(--color-gray-20);
		--color-sand-1: #ab946b;
		--color-sand-2: #baa684;
		--color-sand-3: #897869;
		--color-sand-4: #b6aea6;
		--color-sand-5: #9a8c7a;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1395ff;
		--text-color-link-active: #1395ff;
		--text-color-link-visited: #1395ff;

		--background-color: #15202b;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	/* font-family: "Alegreya Sans", sans-serif; */
	font-weight: 400;
	font-style: normal;
}

html {
	overflow-y: scroll;
}

body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
}

img[width][height] {
	height: auto;
}

img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}

video,
iframe {
	width: 100%;
	height: auto;
}

iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.5;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
small {
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

heading-anchors h1 {
	text-align: center;
}

li {
	line-height: 1.5;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}

main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

.links-nextprev>* {
	flex-grow: 1;
}

.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	/* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}

code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.home-link {
	flex-grow: 1;
	font-size: 1em;
	/* 16px /16 */
	font-weight: 700;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.nav li {
	font-family: "Alegreya", serif;
}

.nav-item {
	display: inline-block;
	font-family: "Alegreya", serif;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.postlist-item {
	display: flex;
	/* flex-wrap: wrap; */
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
	flex-direction: column;
	background-color: #e7e7e7;
	padding: 6px 10px 10px;
	border-radius: 6px;
}

.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "Post No. " counter(start-from, decimal-leading-zero) ": ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
	font-size: 95%;
	margin-bottom: 0.25rem;
	color: var(--color-gray-90);
}

.postlist-date {
	font-size: 0.8125em;
	/* 13px /16 */
}

.postlist-date {
	word-spacing: -0.5px;
}

.postlist-link {
	font-size: 1.1875em;
	/* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item>.post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}


#main .post-featured-image img {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: block;
	margin: auto;
}

form input,
form textarea {
	display: block;
	width: 90%;
	padding: 0.5rem;
	margin: 0.25rem 0 1rem;
	font-size: 1em;
}

form button {
	font-size: 1em;
	padding: 0.5rem 0.75rem;
	margin: 0.25rem 0 1rem;
	cursor: pointer;
	border-radius: 10px;
	background-color: var(--text-color-link);
	color: #fff;
}

form button:hover {
	background-color: var(--text-color-link-active);
	border-radius: 10px;
	color: #fff;
}